.jumbotron{
    background-color: #5bc3d1;
    color: white;
    margin-top: 45px;
}

footer{
    background-color: #5bc3d1;
    padding: 10px;
    margin-top: 10px;
}

.f-enlaces{
    color: white;
}

.img-fluid{
    max-width: 175px;
    max-height: 175px;
    width: 100%;
    height: 100%;
}

.card-product{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-mas{
    width: 100%;
}

.iconos-footer{
    padding-right: 10px;
}

.img-banner{
    max-width: 728px;
    max-height: 90px;
    width: 100%;
    height: 100%;
}

.banner-div{
    padding-bottom: 20px;
}

.card-index{
    background-color: #5AB2E8;
    color: whitesmoke;
}

.contenedor-carousel{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.carousel-index{
    max-width: 600px;
    width: 100%;
}