.jumbotron {
  background-color: #5bc3d1;
  color: #FFFFFF;
  margin-top: 45px;
  margin-bottom: 20px;
}
footer {
  background-color: #5bc3d1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.f-enlaces {
  color: #FFFFFF;
}
.img-fluid {
  max-width: 175px;
  max-height: 175px;
  width: 100%;
  height: 100%;
}
.card-product {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-mas {
  width: 100%;
}
.iconos-footer {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 0px;
}
.img-banner {
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  height: 100%;
}
.banner-div {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.card-index {
  background-color: #5bc3d1;
  color: #FFFFFF;
}
.contenedor-carousel {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.carousel-index {
  max-width: 600px;
  width: 100%;
}
