$lightBlue: #5bc3d1;
$white: #FFFFFF;

@mixin margin($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top,$bottom,$left,$right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}

.jumbotron{
    background-color: $lightBlue;
    color: $white;
    @include margin(45px,20px);
}

footer{
    background-color: $lightBlue;
    @include padding(10px,10px,10px,10px);
    @include margin(10px,0px);
}

.f-enlaces{
    color: $white;
}

.img-fluid{
    max-width: 175px;
    max-height: 175px;
    width: 100%;
    height: 100%;
}

.card-product{
    flex: 1 200px;
    @include margin(10px,0px);
}

.btn-mas{
    width: 100%;
}

.iconos-footer{
    @include padding(0px,0px,0px,10px);
}

.img-banner{
    max-width: 728px;
    max-height: 90px;
    width: 100%;
    height: 100%;
}

.banner-div{
    @include padding(0px,20px,0px,0px);
}

.card-index{
    background-color: $lightBlue;
    color: $white;
}

.contenedor-carousel{
    display: flex;
    justify-content: center;
    @include padding(0px,20px,0px,0px);
}

.carousel-index{
    max-width: 600px;
    width: 100%;
}